# Python
__pycache__/
*.py[cod]
*.pyo
.env

# Jupyter
.ipynb_checkpoints/
*.ipynb_checkpoints

# Data filer (store filer – upload manuelt hvis nødvendigt)
*.xlsx
*.csv
*.parquet

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
